:root {
    --main-color-bleu: #005baa;
    --main-color-orange: #df6824;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
*{
    margin: 0;
    font-family: "Gill Sans", sans-serif;
}
h1{
    color:yellow;
}
.logo{
    width:200px;
    height:auto;

}
nav{
    display:flex;
    flex-direction:row;
    align-items: center;
    border-bottom: var(--main-color-bleu) solid 5px;
    box-shadow: #000000 0 0 5px;
    justify-content: space-around;

}

nav input {
    display: flex;
    border-radius: 50px;
    font-size: 25px;
    background: var(--main-color-orange);
    color: white;
    border: none;
    padding: 20px
}
nav input:hover {
    box-shadow: 0 0 7px 2px var(--main-color-bleu);
}

Nav a{
    text-decoration:none;
    color:black;
    display:flex;
    font-size: 25px;
}
Nav a:hover{
    color:var(--main-color-bleu);
    text-decoration: underline;
}
main {
    flex: 1;
    padding: 20px;
}
footer {
    background: var(--main-color-bleu);
    color: white;
    padding: 1em;
    display: flex;
    justify-content: center;
    gap: 3em;
}
.Bloc1, .Bloc2, .Bloc3, .Bloc4{
    display: flex;
    flex-direction: column;
}
.logoFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5em;
}

.logoFooter img {
    height: 5em;
    margin-bottom: 0.3em;
    margin-right: 0.5em;
}

.logoFooter p {
    font-size: 1.2em;
    font-family: "Arial Black", sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.BarreLogo {
    height: 5px;
    background-color: white;
    width: 100%;
    margin: 0.8em 0;
}
.Réseaux {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1em;
}
.RéseauxImage {
    height: 1.8em;
}
.Contact, .Autre{
    font-size: 0.8em;
    font-family: "Arial", sans-serif;
}
.BarreInfo{
    height: 2.5px;
    background-color: white;
    width: 180px;
    margin: 0.8em 0;
}
.Autre{
    margin-top: 1em;
}
.Autre ul {
    list-style-position: inside;
    padding-left: 0;
    margin-left: 0;
}
.Autre li{
    text-align: left;
}
.Autre li a {
    color: white;
    text-decoration: none;
}
.Bloc3 p, .Bloc3 a, .Bloc4 a, .Bloc4 p{
    font-size: 0.8em;
    font-family: "Arial", sans-serif;
    color: white;
    text-decoration: none;
}
.Bloc4 ul{
    list-style-position: inside;
    padding-left: 0;
    margin-left: 0;
}
.Bloc4 li{
    text-align: left;
}
.Bloc5{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.Langue{
    display: flex;
    flex-direction: row;
}
.Bloc5 img{
    margin-right: 1.5em;
    height: 2em;
    margin-bottom: 1em;
}
.Bloc5 p a {
    display: flex;
    border-radius: 50px;
    font-size: 25px;
    background: var(--main-color-orange);
    color: white;
    border: none;
    padding: 20px;
    color: white;
    text-decoration: none;
}
.Bloc5 p a:hover {
    box-shadow: 0 0 7px 2px whitesmoke;
}