:root {
    --main-color-bleu: #005baa;
    --main-color-orange: #df6824;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
*{
    margin: 0;
    font-family: "Gill Sans", sans-serif;
}
h1{
    color: var(--main-color-bleu);
}
.logo{
    width:200px;
    height:auto;

}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    /*border-bottom: var(--main-color-bleu) solid 5px;*/
    box-shadow: #000000 0 0 5px;
    justify-content: space-around;
    gap: 2%;
    height: 150px;
}

.menu a{
    display: flex;
    text-decoration:none;
    color:black;
    font-size: 25px;
    height: 100%;
    align-items: center;
}
.menu a.active{
    color: var(--main-color-bleu);
    border-bottom: 5px solid var(--main-color-bleu);
}

.menu a.btn:hover {
    border: none;
}
.menu a:hover{
    color:var(--main-color-bleu);
    border-bottom: var(--main-color-bleu) solid 5px;

}
.styled {
    border-radius: 40px;
    font-size: 25px;
    background: var(--main-color-orange);
    color: white;
    border: none;
    padding: 15px 25px;
    box-shadow: #d15200 0 7px;
    cursor: pointer;
}
.styled:hover {
    text-decoration: none;
    box-shadow: #d15200 0 5px;
    transform: translateY(2px);
}
.styled:active {
    box-shadow: #d15200 0 2px;
    transform: translateY(3px);
}
/**************************** MAIN *******************************/

main {
    flex: 1;
    padding: 50px 15% 50px 15%;
}

/***************************   FOOTER   ******************************************/
/***************************   FOOTER   ******************************************/
footer {
    background: var(--main-color-bleu);
    color: white;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    margin-top: auto;
}
footer p {
    padding: 5px;
    border-bottom:  3px solid #FFFF;
}

.Bloc1, .Bloc2, .Bloc3, .Bloc4, .Bloc5{
    display: flex;
    flex-direction: column;
}

/* Bloc1 : Logo et réseaux sociaux */
.logoFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5em;
}

.logoFooter img {
    height: 5em;
    margin-bottom: 0.3em;
    margin-right: 0.5em;
}

.logoFooter p {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
}

.BarreLogo {
    height: 5px;
    background-color: white;
    width: 100%;
    margin: 0.8em 0;
}

.Réseaux {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1em;
}

.RéseauxImage {
    height: 1.8em;
}

/* Bloc2 : Contact et autres liens */
.BarreInfoDep {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.Autre{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Autre .BarreInfoDep a {
    color: white;
    text-decoration: none;
}

/* Bloc3 : Délégation territoriale avec scrollbar simple */
.Bloc3 p {
    margin-bottom: 0.5em;
}

.Bloc3 .BarreInfo {
    display: flex;
    flex-direction: column;
    max-height: 200px; /* Hauteur maximale */
    overflow-y: auto;  /* Scroll automatique si trop long */
    gap: 0.3em;
}

.Bloc3 .BarreInfo > a {
    color: white;
    text-decoration: none;
}

/* Bloc4 : Informations utiles */
.Bloc4 p {
    margin-bottom: 0.5em;
}

.Bloc4 .BarreInfo {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.Bloc4 .BarreInfo > a {
    color: white;
    text-decoration: none;
}

/* Bloc5 : Langues et bouton */
.Bloc5{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Langue{
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-bottom: 1em;
}

.Bloc5 img{
    height: 2em;
}

/*****************************************************/
.Presentation{
    display: flex;
    gap: 5%;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.france, .international {
    margin-top: 10%;
    border-radius: 10px;
    padding: 1.5em;
    box-shadow: rgba(0, 0, 0, 0.7) 2px 2px 3px ;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.france >li , .international > li {
    margin-bottom: 5%;
    list-style: none;
}


.actions {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 10%;
}

.savoir{
    display: flex;
    justify-content: right;
}
main input{
    margin: auto  ;
    align-items: flex-end;
}

/**************************** RESPONSIVITÉ NAV-BAR *******************************/

.Menu-Burger-Icon, .nav-toggle{
    display: none;
    height: 5em;
    width: 5em;
}
.nav-cache{
    display: none;
}

@media screen and (max-width: 1300px) {
    .Menu-Burger-Icon{
        display: flex;
        position: absolute;
        right: 2em;
        top: 2.3em;
        cursor: pointer;
    }
    .nav-cache{
        display: none;
        position: absolute;
        top: 155px;
        right: 50px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 430px;
        background: rgb(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
    }
    .nav-cache a{
        text-decoration: none;
        color: black;
        margin-bottom: 0.8em;
        font-size: 25px;
    }
    .separateur{
        height: 3px;
        background-color: Black;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.8em;
    }
    .nav-cache a.active {
        color: var(--main-color-bleu);
        border-bottom: 0px solid var(--main-color-bleu);
    }
    .nav-cache a:hover{
        color:var(--main-color-bleu);
        border-bottom: var(--main-color-bleu) solid 0px;
    }
    .logo{
        position: absolute;
        left: 2em;
    }
    .menu{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .menu a{
        display: none
    }
}

@media  screen and (max-width: 630px) {
    .nav-cache{
        left: 50px;
        width: unset;
    }
}