:root {
    --main-color-bleu: #005baa;
    --main-color-orange: #df6824;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
*{
    margin: 0;
    font-family: "Gill Sans", sans-serif;
}
h1{
    color:yellow;
}
.logo{
    width:200px;
    height:auto;

}
nav{
    display:flex;
    flex-direction:row;
    align-items: center;
    border-bottom: var(--main-color-bleu) solid 5px;
    box-shadow: #000000 0 0 5px;
    justify-content: space-around;
}

.menu > a{
    text-decoration:none;
    color:black;
    font-size: 25px;
    padding: 14px 16px;
}
.menu > a:hover{
    color:var(--main-color-bleu);
    text-decoration: underline;
}

.styled {
    border-radius: 50px;
    font-size: 25px;
    background: var(--main-color-orange);
    color: white;
    border: none;
    padding: 20px
}
.styled:hover {
    text-decoration: none;
    box-shadow: 0 0 7px 2px var(--main-color-bleu);
}

main {
    flex: 1;
    padding: 20px;
}
footer {
    background: var(--main-color-bleu);
    color: white;
    padding: 1em;
    display: flex;
    justify-content: center;
    gap: 3em;
}
.Bloc1, .Bloc2, .Bloc3, .Bloc4{
    display: flex;
    flex-direction: column;
}
.logoFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5em;
}

.logoFooter img {
    height: 5em;
    margin-bottom: 0.3em;
    margin-right: 0.5em;
}

.logoFooter p {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.BarreLogo {
    height: 5px;
    background-color: white;
    width: 100%;
    margin: 0.8em 0;
}
.Réseaux {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1em;
}
.RéseauxImage {
    height: 1.8em;
}

.BarreInfo{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    height: 2.5px;
    background-color: white;
    width: 100%;
    outline: none;
    border: none;
    box-shadow: none;
}

.BarreInfo > a{
    text-decoration: none;
    color: white;
    padding-top:5%;
}
.Autre{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    outline: none;
    border: none;
    box-shadow: none;
}
.Autre > a {
    color: white;
    text-decoration: none;
}

.Bloc5{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.Langue{
    display: flex;
    flex-direction: row;
}
.Bloc5 img{
    margin-right: 1.5em;
    height: 2em;
    margin-bottom: 1em;
}

